<!DOCTYPE html>
<html>
{% extends "main_page/base.html" %}
{% block content %}

<style type="text/css">
    div.one{
        padding: 30px;
    }
    ul {
        list-style-type: "- ";
    }
    p, h1, h2, ,h3, ul{
        min-width: 700px;
        margin: auto;
        width: 70%;}
    p {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        font-size: 125%;}
    }
</style>
<div class="one">
<h3> <a href="{% url 'main_page:index' %}">Главная</a>            <a href="{% url 'problems:site' %}">Задания</a></h3>
<h1>Олимпиады по химии в РК</h1>
<p>Добро пожаловать на официальный сайт Республиканской Коллегии Составителей Задач по Олимпиадной Химии (РКСЗОХ). Здесь вы найдете актуальную информацию о принципах, ценностях, философии Коллегии, а также последние утвержденные методики отбора учеников в Сборную Республики Казахстан, концепции тем и сложности различных олимпиад, в том числе республиканской олимпиады школьников по химии </p>
<p>Подписывайтесь на <a href="https://t.me/rian_ru">телеграм-канал Коллегии</a> чтобы не пропускать важные объявления.</p>
</div>

<div class="one">
<h2>Официальные документы</h2>

<p>В этом разделе всегда будет полный и актуальный список всех документов, утвержденных Коллегией. Эти документы выступают истиной первой инстанции во всех вопросах, связанных с деятельностью Коллегии, а поэтому могут быть написаны строгим языком. В других разделах этого сайта мы можем представлять ту же информацию в более наглядном и простом виде, но, если когда-нибудь что-то написанное в других разделах этого сайта не будет соответствовать информации в этих документах — более верной является информация в этих документах.

<ul>
<li>Положение о РКСЗОХ (Обновлено: 27 августа 2022; 100%)</li>
<li>Стратегия развития олимпийского движения по химии (Обновлено: 14 ноября 2021; 80%)</li>
<li>Концепция тем и сложности республиканской олимпиады (Обновлено: 27 августа 2022; 100%)</li>
<li>Алгоритм определения состава сборной РК (Обновлено: 27 августа 2022; 100%)</li>
<li>Минимальный «Комплект заданий» (Обновлено: 14 ноября 2021; 90%)</li>
<li>Правила оформления задач (Обновлено: 27 августа 2022; 100%)</li>
<li>Правила проверки работ учащихся (Обновлено: 14 ноября 2021; 80%)</li>
</ul>
{% load static %} 
<p>Open a PDF file <a href="/static/documents/QazGeoLogo.pdf">example</a>.</p>
</div>


{% endblock content %}
</html>